:root {
    --color1: #1c3a13; 
    --color2: #42872c;
}

code::before{

    content: "$ ";

}

body {

    margin: 0;
    background-color: var(--color1);
    color: white; 
    font-size: medium;

}

header {

    background-color: var(--color2);
    padding: 10px 0 10px 3%;

}

h1 {
    margin: 0;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px;
}

code {

    border-radius: 5px;
    padding: 6px;
    background-color: var(--color2);

}